body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 2em;
    padding: 1em;
    background-color: rgb(224, 169, 106);
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
}
.screen{
    display: flex;
    /* flex-direction: column; */
    border: .3em solid black;
    height: 3.5em;
}
input{
    border: none;
    border-color: none;
    border-style: none;
    font-size: large;
    font-weight: bolder;
    height: 100%;
    width: 50%;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: .3em;
    
}
.reClear{
    width: 50%;
}
button{
    width: 25%;
    height: 50px;
    font-size: large;
    font-weight: bolder;

}
.equalButton{
    background-color: aqua;
}